<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ciri</title>
  </head>
  <body>
    <header>
      <h1>Ciri</h1>
    </header>
    <main>
      <img src="../images/ciri-img.webp" alt="ciri-img" />
      <section>
        <h2>Who is Ciri?</h2>
        <p>
          Cirilla Fiona Elen Riannon, commonly known as Ciri, is the princess of
          Cintra, one of the Northern Kingdoms. She is the daughter of Pavetta
          and Emhyr var Emreis (Duny), and the granddaughter of Queen Calanthe
          of Cintra, a monarch known for her bravery, beauty, and
          resourcefulness. Ciri is one of the main characters in both the books
          and the Netflix series.Ciri and Geralt are bound by destiny;
          eventually, Geralt takes Ciri under his wing and treats her as his
          adopted daughter. Their relationship is a major plot line in The
          Witcher series. Before she came to live with Geralt, thanks to the Law
          of Surprise, Ciri was raised by her parents, Pavetta and Dunny, who
          died at sea before she turned five, and then entrusted to the care of
          her grandmother. Though Queen Calanthe tried to keep her
          granddaughter's destiny a secret from her, Ciri's nanny told her about
          it, so Ciri grew up knowing she would one day meet Geralt of Rivia and
          become a witcher.
        </p>
      </section>
      <br />
      <section>
        <h2>What are Ciri's powers?</h2>
        <p>
          Ciri's powers first become apparent during the fall of Cintra. The
          kingdom was attacked by the Nilfgaardian Empire; Ciri was one of the
          only survivors of the last battle. She managed to flee the city alive,
          but while holed up in the castle by her grandmother, she let out a
          scream, refusing to leave—a powerful, magical scream with the ability
          to shake the entire room. This powerful scream is only one of Ciri's
          many powers. Ciri is a Source—a person born with rare magical
          abilities. However, these abilities are often hard for a Source to
          contain and control; usually triggered by stressful or dangerous
          situations, they manifest as chaotic energy. After escaping Cintra and
          meeting Geralt, Ciri encounters the mage Triss, who informs Geralt
          that she is a Source. Triss realizes that it is beyond her skill to
          help Ciri manage her powers. She and Geralt eventually send Ciri to
          the sorceress Yennefer for further training. While being a Source
          doesn't come with any particular set of powers, just a natural
          affinity for magic, Ciri also carries Elder Blood, which marks her as
          a descendent of Elven sorceress Lara Dorren. Carriers of the Elder
          Blood usually possess extraordinary magical ability.
        </p>
      </section>
      <br />
      <section>
        <h2>Is Ciri a Witcher?</h2>
        <p>
          Because of the destiny that binds them together, Ciri trains with
          Geralt to become a witcher. Soon after they find each other after the
          fall of Cintra, Geralt takes her to Kaer Morhen to begin her training.
          However, during physical exercises, she falls into several trances.
          These trances reveal to Geralt and the mage Triss that Ciri is a
          Source. Her magical abilities sometimes clash with her progression as
          a witcher. After training with Yennefer, Ciri gradually learns to
          better control her magic and has many adventures as a witcher and a
          Source throughout the books and the show. She gets into a lot of
          dangerous situations and uses her witcher abilities, her
          swordsmanship, and her magic to get out of them.
        </p>
      </section>
    </main>
    <footer>
      <a href="../pages/triss.html">
        <em>Learn more about Triss Merigold.</em>
      </a>
    </footer>
  </body>
</html>
