<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Geralt</title>
  </head>
  <body>
    <header>
      <h1>Geralt of Rivia</h1>
    </header>
    <main>
      <img src="../images/geralt-img.jpg" alt="geralt-img" />
      <section>
        <h2>Who is The Witcher 3's Geralt?</h2>
        <p>
          Geralt of Rivia is the main protagonist from The Witcher trilogy of
          games, each of which sees him go on a grand adventure. In The Witcher
          3: Wild Hunt, he sets out to search for his adopted daughter Ciri as
          she's pursued by the Wild Hunt due to her unique abilities courtesy of
          her ancestry. Along the Way, he once again reunites with Yennefer of
          Vengerberg and Triss Merigold, the two sorceresses who he shares
          romantic histories with. And yes, this does lead to some messy
          conversations throughout the game. However, both of these women love
          Ciri too and are keen to help face the hunt, as are numerous other
          allies Geralt has garnered over the years.
        </p>
      </section>
      <br />
      <section>
        <h2>The Witcher 3 Geralt's personality</h2>
        <p>
          When a Witcher undergoes the rite to become a monster-slayer, it
          strips away their emotional thinking, yet Geralt still maintains some
          sense of feeling, as proved by his love for the numerous people in his
          life, such as Yennefer, Triss, and Ciri. Furthermore, he's a fiercely
          loyal individual that goes to great lengths to help those he cares
          for. To top it off, Geralt sometimes helps people without the need for
          a reward, something Witchers are notorious for avoiding. In fact, some
          say, “Witchers are heartless and won't lift a finger without pay.”
          However, this isn't the case for Geralt. Though make no mistake, he
          has a righteous anger, can be apathetic, cynical, and threatening, and
          is formidable on the battlefield.
        </p>
      </section>
    </main>
    <footer>
      <a href="./yennefer.html">Learn more about Yennefer of Vengerberg</a>
    </footer>
  </body>
</html>
