<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Yennefer</title>
  </head>
  <body>
    <main>
      <header>
        <h1>Yennefer of Vengerberg</h1>
      </header>
      <img src="../images/yennefer-img.jpg" alt="yennefer-img" />
      <section>
        <h2>Who Is Yennefer of Vengerberg?</h2>
        <br />
        <h4>Origin Story and Early Life</h4>
        <p>
          Yennefer of Vengerberg is a powerful sorceress, the true love and soul
          mate of Geralt of Rivia, and a mother figure to Princess Ciri. A
          native of Vengerberg, the capital city of the kingdom of Aedirn, she
          was born with a congenital hunchback. Due to her deformity, she had a
          difficult childhood, suffering ridicule and abuse at the hands of her
          parents. Her father was cruel to not only Yennefer but also to her
          mother—until he left her for another woman. Once her father was gone,
          Yennefer's mother continued to mistreat her. Yennefer was able to
          escape her troubled home life, thanks to her magical abilities and
          potential. She was accepted at the Aretuza Academy, a school of magic
          for young ladies, run by Tissaia de Vries, a powerful sorceress who
          became like a mother to her. Yennefer devoted herself to training and
          graduated from the school as a full-fledged sorceress. At Aretuza, her
          hunchback magically vanished, as the removal of physical flaws came
          with mastering the art of sorcery.
        </p>
        <h4>Adult Life and Adventures</h4>
        <p>
          After leaving Aretuza, Yennefer set herself up as a sorceress,
          offering her magical services to those in need. It was in the town of
          Rinde that she first met Geralt, when he came to her seeking healing
          for his wounded friend, Dandelion. Though it was not love at first
          sight, this meeting marked the beginning of their long and tumultuous
          relationship. Her many adventures took Yennefer all over the
          Continent. She was blinded during the Battle of Sodden Hill, while
          fighting alongside members of the Brotherhood of Sorcerers. It was
          after this battle that she became the youngest ever member of the
          Council of Sorcerers.
        </p>
      </section>
      <section>
        <h2>Yennefer's Key Relationships</h2>
        <br />
        <h4>Yennefer and Geralt</h4>
        <p>
          Yennefer and Geralt are soul mates, though their relationship is not
          always an easy one. They first meet when Geralt seeks her help after
          his friend Dandelion is injured by a djinn. Yennefer ends up fighting
          the djinn and would have died but for Geralt's intervention. After
          revealing that he is in control of the djinn, he uses one of his
          wishes to bind their fates together and save them both. Though
          Yennefer and Geralt do not stay together after their first encounter,
          they begin a relationship and come to believe they were destined to
          fall in love. They repeatedly fight and then make up but always remain
          true to each other, especially when facing enemies or in perilous
          situations. When Geralt needs help training Ciri, he turns to
          Yennefer, and the three of them form a family.
        </p>
        <h4>Yennefer and Ciri</h4>
        <p>
          Soon after Geralt takes Ciri under his wing to begin her training as a
          witcher, he realizes that her powers are beyond his knowledge and
          skillset. He writes to Yennefer for help, and she agrees to meet them
          at the Temple of Melitele. There, she begins teaching Ciri how to
          control her magic and harness the chaotic energy she wields. Ciri and
          Yennefer get off to a rough start, but they eventually develop a close
          bond. Yennefer becomes like a mother to Ciri, viewing her as the
          daughter she was never able to have. As the series progresses,
          Yennefer often puts herself in danger to keep Ciri safe.
        </p>
        <h4>Yennefer and Triss</h4>
        <p>
          Yennefer meets Triss Merigold while they are both studying to become
          sorceresses at Aretuza. The two women become friends, remaining close
          after they both leave Aretuza and pursue their separate lives. Years
          later when Triss falls in unrequited love with Geralt, their
          friendship still survives. Their steady, quiet friendship may not get
          a lot of attention throughout The Witcher Saga, but it is nonetheless
          an important relationship for both women.
        </p>
      </section>
    </main>
    <footer>
      <a href="../pages/ciri.html">Learn more about Ciri.</a>
    </footer>
  </body>
</html>
